
.page-loader {
    height: 40px;
    background-color: #000;
    left: 0;
    opacity: 0.50;
    top: 0;
    width: 100%;
    z-index: 1054;
    position: relative;
}

.page-loader .loader {
    background-image: url("../images/pager/ajax-loader.gif");
    height: 20px;
    width: 220px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    margin-left: -110px;
}